<!DOCTYPE html>
<html>
  <head>
    <script src="../libs/jquery-1.6.1.js"></script>
    <script src="../libs/underscore.js"></script>
    <script src="../libs/backbone.js"></script>
    <script src="../libs/mustache.js"></script>
	  <script src="../libs/query_string.js"></script>
	 <!-- <script src="../libs/functional.js"></script>-->
    <script type="x-mustache-template" name="properties-index">
    Results
    <hr />
    <input type="checkbox" value="" /> Select All
      <ul>
        {{#properties}}
        <li class='property-list-item'>
          <a href="#properties/{{id}}">
            <img src="{{thumb}}" /> 
          </a>
          <span>
            {{description}}<br />
          </span>
          <span>
            Address: <br />
            {{street}}<br /> 
            {{city}}, {{state}} {{zip}}<br />
          </span>
          <span>
            Price: {{price}}
          </span>
        </li>
        <a href="?taxItem={{id}}#add">Add Tag Item</a>
        <a href="?mapItem={{id}}#add">Add Map Item</a>
        <input type="checkbox" value="{{id}" /> add to selection
        {{/properties}}
      </ul>
      <hr />
      <a href="#">Map All Checked</a>
      <a href="#">Tag All Checked</a>
      <button type="button">Order Now</button>
    </script>
    <script type="x-mustache-template" name="properties-show">
      <div class="show-property">
        <p>
          <img src="{{image}}" /> 
        </p>
        <p>
          {{description}}<br />
        </p>
        <p>
          Address: <br />
          {{street}}<br /> 
          {{city}}, {{state}} {{zip}}<br />
        </p>
        <p>
          Price: {{price}}
        </p>
      </div>
    </script>
		<script type="x-mustache-template" name="filters">
			<label for="over_4">
				<input id="over_4" type="checkbox" />
				Over 400000
			</label>
			<br>
			<select id="zip">
				<option value="all" selected="selected">All</option>
				{{#properties}}
					<option value="{{zip}}">{{zip}}</option>
	      {{/properties}}
     </select>
		 <label for="zip">Zip</label>
		</script>
    <script src="../application.js"></script>
		<script src="../app/lib/render.js"></script>
		<script src="../app/helpers/generic.js"></script>
    <script src="../app/models/property.js"></script>
    <script src="../app/models/cart_item.js"></script>
    <script src="../app/models/tax_item.js"></script>
    <script src="../app/models/map_item.js"></script>
    <script src="../app/models/cart.js"></script>
		<script src="../app/models/property_collection.js"></script>
    <script src="../app/controllers/properties_controller.js"></script>
    <script src="../app/controllers/cart_controller.js"></script>
		<script src="../app/controllers/searches_controller.js"></script>
    <script src="../app/views/searches/show.js"></script>
    <script src="../app/views/properties/index.js"></script>
    <script src="../app/views/properties/show.js"></script>
		<script src="../app/views/properties/filters.js"></script>
  </head>
<body>
  <h1><a href="index.html">PropertyFax</a></h1>
  <h2>A PropertyFax Application by loop/recur</h2>
  <div id="notice"></div>
	<form action="#search" method="get">
    <p>
      <label for="property-search">Search Properties</label>
      <input type="text" name="term" id="property-search" />
    </p>
    <p>
      <input type="submit" value="Submit" id="submit" />
    </p>
	</form>
	
	<div id="filters"></div>

  <div id="app"></div>

  <script type="text/javascript">
      $(function() {
          PropertyFax.init();
      });
  </script>
</body>
</html>
