<!DOCTYPE html>
<html>
  <head>
  <link href="../stylesheets/basic.css" rel="stylesheet" type="text/css" />
    <script src="../libs/jquery-1.6.1.js"></script>
		<script src="../libs/functional.js"></script>
    <script src="../libs/underscore.js"></script>
    <script src="../libs/backbone.js"></script>
    <script src="../libs/mustache.js"></script>
		<script src="../libs/query_string.js"></script>
    <script type="x-mustache-template" name="properties-index">
      <ul>
        {{#properties}}
        <li class='property-list-item'>
          <a href="#properties/{{id}}">
            <img src="{{thumb}}" /> 
          </a>
          <span>
            {{description}}<br />
          </span>
          <span>
            Address: <br />
            {{street}}<br /> 
            {{city}}, {{state}} {{zip}}<br />
          </span>
          <span>
            Price: {{price}}
          </span>
        </li>
        {{/properties}}
      </ul>
    </script>
    <script type="x-mustache-template" name="properties-show">
      <div class="show-property">
        <p>
          <img src="{{image}}" /> 
        </p>
        <p>
          {{description}}<br />
        </p>
        <p>
          Address: <br />
          {{street}}<br /> 
          {{city}}, {{state}} {{zip}}<br />
        </p>
        <p>
          Price: {{price}}
        </p>
      </div>
    </script>
		<script type="x-mustache-template" name="filters">
			<label for="over_4">
				<input id="over_4" type="checkbox" />
				Over 400000
			</label>
			<br>
			<select id="zip">
				<option value="all" selected="selected">All</option>
				{{#properties}}
					<option value="{{zip}}">{{zip}}</option>
	      {{/properties}}
     </select>
		 <label for="zip">Zip</label>
		</script>
    <script type="x-mustache-template" name="search-index">
      <span>sort by:</span>
      <select id="sort-by">
        <option value="price_in_cents">Price</option>
        <option value="city">City</option>
      </select>
      <select id="sort-order">
        <option value="ascending">Ascending</option>
        <option value="descending">Descending</option>
      </select>

      <button type="button">Data Report All Checked</button>
      <button type="button">Data/Map Report All Checked</button>
      <input type="checkbox" name="properties" value="all" />Select All
      <ul>
        {{#properties}}
        <li id="{{id}}" class="property-list-item">
          <a href="#properties/{{id}}">
            <img src="{{thumb}}" /> 
          </a>
          <span>
            {{description}}<br />
          </span>
          <span>
            Address: <br />
            {{street}}<br /> 
            {{city}}, {{state}} {{zip}}<br />
          </span>
          <span>
            Price: {{price}}
          </span>
          <button type="button">Data Report</button>
          <button type="button">Map Report</button>
          <input type="checkbox" name="property" value={{id}} />add to selection
        </li>
        {{/properties}}
      </ul>
    </script>
    <script type="x-mustache-template" name="property-stats">
      <button type="button" id="assessment-button">Assessment Tab</button>
      <button type="button" id="mls-button">MLS Data</button>
      <button type="button" id="owners-button">Owners</button>
      <button type="button" id="sales-history-button">Sales History</button>
      <button type="button" id="sales-button">Sales</button>
      <button type="button" id="show-map-button">Show Map</button><br /><br />
      <div id="property-stats-inner">
          <span>
            {{description}}<br />
          </span>
          <span>
            Address: <br />
            {{street}}<br /> 
            {{city}}, {{state}} {{zip}}<br />
          </span>
          <span>
            Price: {{price}}
          </span>
      </div>
    </script>
    <script src="../application.js"></script>
		<script src="../app/lib/render.js"></script>
		<script src="../app/helpers/generic.js"></script>
    <script src="../app/models/property.js"></script>
		<script src="../app/models/property_collection.js"></script>
    <script src="../app/controllers/properties_controller.js"></script>
		<script src="../app/controllers/searches_controller.js"></script>
    <script src="../app/views/properties/show.js"></script>
		<script src="../app/views/properties/filters.js"></script>
  </head>
<body>
<header>
  <h1><a href="index.html">NJ PropertyFax</a></h1>
  <nav>
    <a href="#">HOME</a>
    <a href="#">TOOLS</a>
    <a href="#">MY PROFILE</a>
  <span>You are currently logged in as <a href="#">Ryan C.</a>&nbsp;&nbsp;<a href="#">Logout</a></span>
  </nav>

  <div id="notice"></div>
  <div id="search-form">
    <form action="#search" method="get">
      <p>
        <input type="text" name="term" id="property-search" />
        <input type="submit" value="Search" id="submit" />
      </p>
    </form>
  </div>
</header>
<div id="container">
	<div id="filters"></div>

  <div id="app"></div>
  <div id="search-results"></div>
  <div id="property-stats"></div>

  <script type="text/javascript">
      $(function() {
          PropertyFax.init();
      });
  </script>
  <script src="../app/views/properties/index.js"></script>
  <script src="../app/views/properties/stats.js"></script>
  <script src="../app/views/searches/show.js"></script>
</div>
<footer> &copy; PropertyFax 2011 </footer>
</body>
</html>
